* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 180px;
}
#navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: 80px;
}
.Request {
  background-color: #e26e4e;
  color: white;
  padding: 20px 60px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
}
#navigation li {
  list-style: none;
  padding: 20px 20px;
}
.tinner {
  background-image: url("../images//Group\ 27.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.max {
  padding: 80px;
}
.goup {
  padding: 1px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}
#login {
  display: none;
}

#signup {
  display: none;
}
#contact {
  background-image: url("../images/Ellipse\ 2.png");
  background-repeat: no-repeat;
  height: 130vh;
  background-size: contain;
}
.correct {
  width: 100%;
  height: 10px;
  object-fit: cover;
}
.contact h1 {
  font-size: 40px;
  font-weight: 600;
}
.contact img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.twist {
  margin-top: 115px;
}
.twitimg {
  margin-right: 100px;
  margin-top: 30px;
}
.logo {
  height: auto;
  width: auto;
  object-fit: cover;
}
#navigation li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: black;
}
#navigation li a:hover {
  color: indianred;
}
.nav-button {
  display: flex;

  align-items: center;
}
.mart {
  margin-top: 0px;
}
.nav-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-button li {
  list-style: none;
  padding: 8px 30px;
  border-radius: 80px;
  border: 1px solid #e26e4e;
  margin-right: 10px;
}
.nav-button li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  font-family: "Inter";
}
.nav-button li:nth-last-child(1) {
  background: #e26e4e;
  border-radius: 80px;
}
.nav-button li a:nth-last-child(1) {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.hero h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 77px;
  letter-spacing: 1px;
}
.about_home {
  padding: 0px 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.trow {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.trowwer {
  font-style: normal;
  font-weight: 600;
  font-size: 37.5px;
}
.form-holder {
  background-color: rgb(226, 110, 78);
  border-radius: 20px;
  padding: 50px 4px;
  width: 518px;
}
.text-holderc {
  padding: 0px 80px;
  margin: auto;
}
.form-holder h5 {
  font-weight: 600;
  font-size: 20px;
}
.form-holder p {
  font-size: 10px;
}
.user-details {
  border-radius: 20px;
  margin-top: -20px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}
.user-details .input-box {
  flex: 50%;
  width: calc(100% / 2 - 10px);
}
.user-details .input-box {
  margin: 20px 0px 12px 0px;
  padding: 0px 20px;
}
.user-details input {
  height: 50px;
  width: 310px;
  outline: none;
  border: none;
  border-radius: 2px;
  padding-left: 120px;
  font-size: 16px;
  color: #777171;
  font-weight: 600;
}
.user-details textarea {
  height: 150px;
  width: 310px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 12px 20px;
  color: #777171;
  font-weight: 600;
}
.user-details input:focus,
.user-details input:valid {
  border: 1px solid goldenrod;
}
.user-details input[type="button"],
.user-details input[type="submit"],
.user-details input[type="reset"] {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 0px;
  width: 100px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.contact-holder {
  background-color: #f9e2dc;
  display: flex;
  border-radius: 20px;
}
.contact-detail {
  padding: 40px 10px;
}
.all-text p {
  font-size: 14px;
  color: black;
}
.all {
  padding: 20px 5px;
}
.turn {
  padding: 15px 3px;
  background-color: rgb(226, 110, 78);
  font-weight: 600;
  font-size: 20px;
}
#close {
  display: none;
}
#mobile {
  display: none;
  align-items: center;
}

@media (max-width: 991px) {
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: #222;
  }
  .contact {
    background-image: url("./images/Ellipse\ 2.png");
    background-repeat: no-repeat;
    height: 60vh;
    background-size: initial;
  }

  .contact h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .contact img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  .twist {
    margin-top: 115px;
  }
  .twitimg {
    margin-right: 90px;
    margin-top: 30px;
  }
  .tinner {
    background-image: url("./images//Group\ 27.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px 150px;
  }
  .about_home {
    padding: 0px 40px;
  }
  .logo {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .header {
    display: flex;
    border-bottom: 1px solid indianred;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    margin-bottom: 40px;
  }
  .hero h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 37px;
    letter-spacing: 1px;
  }
  #contact {
    background-image: url("../images/Ellipse\ 2.png");
    background-repeat: no-repeat;
    height: 105vh;
    background-size: contain;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navigation.active {
    right: 0px;
  }
  #navigation li {
    list-style: none;
    padding: 20px 35px;
    letter-spacing: 1px;
  }
  #login {
    display: grid;
    list-style: none;
    padding: 8px 38px;
    border-radius: 80px;
    background-color: indianred;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
    font-family: "Inter";
  }
  .mart {
    margin-top: 0px;
  }

  #signup {
    display: grid;
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
    font-family: "Inter";
  }
  #navigation li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
  }
  #navigation li a:hover {
    color: indianred;
  }
  .nav-button {
    display: none;

    align-items: center;
  }
  .nav-button {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-button li {
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    margin-right: 10px;
  }
  .nav-button li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .nav-button li:nth-last-child(1) {
    background: #e26e4e;
    border-radius: 80px;
  }
  .nav-button li a:nth-last-child(1) {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .cancel {
    color: indianred;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 10px;
  }
  .hitter {
    height: 65vh;
  }
  .in {
    color: white;
    background-color: indianred;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 10px;
  }

  .form-holder {
    background-color: rgb(226, 110, 78);
    border-radius: 20px;
    padding: 30px 4px;
    width: 400px;
  }
  .text-holderc {
    padding: 0px 60px;
    text-align: center;
    margin: auto;
  }
  .form-holder h5 {
    font-weight: 600;
    font-size: 20px;
  }
  .form-holder p {
    font-size: 10px;
  }
  .user-details {
    border-radius: 20px;
    margin-top: -20px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
  }
  .user-details .input-box {
    flex: 50%;
    width: calc(100% / 2 - 10px);
  }
  .user-details .input-box {
    margin: 20px 0px 12px 0px;
    padding: 0px 20px;
  }
  .user-details input {
    height: 50px;
    width: 310px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 120px;
    font-size: 16px;
    color: #777171;
    font-weight: 600;
  }
  .user-details textarea {
    height: 150px;
    width: 310px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 20px;
    color: #777171;
    font-weight: 600;
  }
  .user-details input:focus,
  .user-details input:valid {
    border: 1px solid goldenrod;
  }
  .user-details input[type="button"],
  .user-details input[type="submit"],
  .user-details input[type="reset"] {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 0px;
    width: 100px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  #mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }
  .contact-holder {
    background-color: #f9e2dc;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .contact-detail {
    padding: 10px 10px;
  }
  .all-text p {
    font-size: 14px;
    color: black;
  }
  .all {
    padding: 5px 5px;
  }
  .turn {
    padding: 15px 5px;
    background-color: rgb(226, 110, 78);
    font-weight: 600;
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  #login {
    display: grid;
    list-style: none;
    padding: 8px 38px;
    border-radius: 80px;
    background-color: indianred;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }

  #signup {
    display: grid;
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .contact {
    background-image: url("./images/Ellipse\ 2.png");
    background-repeat: no-repeat;
    height: 60vh;
    background-size: initial;
  }

  .contact h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .contact img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  .twist {
    text-align: center;
  }
  .twitimg {
    margin-top: 30px;
    margin: auto;
  }
  .cancel {
    color: indianred;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 20px;
  }
  .in {
    color: white;
    background-color: indianred;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 20px;
  }
  .formholder h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;

    color: black;
    text-align: center;
  }
  .hitter {
    height: 55vh;
  }
  .logo {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    background-color: white;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navigation.active {
    right: 0px;
  }
  #navigation li {
    list-style: none;
    padding: 20px 35px;
    letter-spacing: 1px;
  }
  #navigation li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
  }
  #navigation li a:hover {
    color: indianred;
  }
  .nav-button {
    display: none;

    align-items: center;
  }
  .nav-button {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-button li {
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    margin-right: 10px;
  }
  .nav-button li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .nav-button li:nth-last-child(1) {
    background: #e26e4e;
    border-radius: 80px;
  }
  .nav-button li a:nth-last-child(1) {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .form-holder {
    background-color: rgb(226, 110, 78);
    border-radius: 20px;
    padding: 30px 0px;
    width: 350px;
  }
  .text-holderc {
    padding: 0px 60px;
    text-align: center;
    margin: auto;
  }
  .form-holder h5 {
    font-weight: 600;
    font-size: 20px;
  }
  .form-holder p {
    font-size: 10px;
  }
  .user-details {
    border-radius: 20px;
    margin-top: -20px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
  }
  .user-details .input-box {
    flex: 50%;
    width: calc(100% / 2 - 10px);
  }
  .user-details .input-box {
    margin: 20px 0px 12px 0px;
    padding: 0px 20px;
  }
  .user-details input {
    height: 50px;
    width: 310px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 120px;
    font-size: 16px;
    color: #777171;
    font-weight: 600;
  }
  .user-details textarea {
    height: 150px;
    width: 310px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 20px;
    color: #777171;
    font-weight: 600;
  }
  .user-details input:focus,
  .user-details input:valid {
    border: 1px solid goldenrod;
  }
  .user-details input[type="button"],
  .user-details input[type="submit"],
  .user-details input[type="reset"] {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 0px;
    width: 100px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .contact-holder {
    background-color: #f9e2dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 350px;
    margin-left: 170px;
    margin-right: 15px;
  }
  .contact-detail {
    padding: 10px 10px;
    width: 350px;
    border-radius: 20px;

    background-color: #f9e2dc;
  }
  .all-text p {
    font-size: 14px;
    color: black;
  }
  .all {
    padding: 5px 5px;
  }
  .turn {
    padding: 15px 5px;
    background-color: rgb(226, 110, 78);
    font-weight: 600;
    font-size: 20px;
  }
  .max {
    padding: 20px 20px;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: #222;
  }
  #mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }

  #contact {
    background-image: none;
    background-repeat: no-repeat;
    height: 200vh;
  }

  .mart {
    margin-top: 50px;
  }
}
