* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
.bg-holder {
  background-color: rgb(24, 60, 60);
  background-image: url("../images/Group\ 39.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}
.submit {
  border-radius: 25px;
  padding: 16px 200px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  font-weight: 600;
  font-size: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 180px;
}
.tapper {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tap-hold {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding: 5px 0px;
}
.tapper a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 20px;
  border: 3px solid white;
  background-color: transparent;
}
#login {
  display: none;
}

#signup {
  display: none;
}
.tap-hold h3 {
  font-weight: 600;
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
}
#navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: 80px;
}
#navigation li {
  list-style: none;
  padding: 20px 20px;
}
.logo {
  height: auto;
  width: auto;
  object-fit: cover;
}
#navigation li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
#navigation li a:hover {
  color: indianred;
}
.nav-button {
  display: flex;

  align-items: center;
}
.nav-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-button li {
  list-style: none;
  padding: 8px 30px;
  border-radius: 80px;

  margin-right: 10px;
}
#close {
  display: none;
}
#mobile {
  display: none;
  align-items: center;
}

.nav-button li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.nav-button li:nth-last-child(1) {
  background: #e26e4e;
  border-radius: 80px;
}
.nav-button li a:nth-last-child(1) {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.tap {
  background-image: url("../images/login2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin: auto;
  width: 75%;
}
.user-details {
  width: 600px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  height: 50vh;
}
.user-details > div {
  width: 600px;
}
.input-box {
  width: 500px;
}
.reg-form {
  display: flex;
  flex-wrap: wrap;
}
.reg-form .input-box {
  margin: 20px 0px 12px 0px;
  padding: 0px 20px;
}
.reg-form input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: left;
  font-size: 16px;
  color: #777171;
  padding-left: 35px;
  font-weight: 600;
}
.reg-form select {
  height: 50px;
  background-color: white;
  color: #777171;
  width: 100%;
  outline: none;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 600;
}
.reg-form input:focus,
.reg-form input:valid {
  border: 1px solid goldenrod;
}
.reg-form select:focus,
.reg-form select:valid {
  border: 1px solid goldenrod;
}
.cana {
  margin-bottom: 45px;
}
@media (max-width: 991px) {
  .logo {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: white;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navigation li {
    list-style: none;
    padding: 20px 35px;
    letter-spacing: 1px;
  }
  #login {
    display: grid;
    list-style: none;
    padding: 8px 38px;
    border-radius: 80px;
    background-color: indianred;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }

  #signup {
    display: grid;
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  #navigation li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
  }
  #navigation li a:hover {
    color: indianred;
  }
  .nav-button {
    display: none;

    align-items: center;
  }
  .nav-button {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: #222;
  }
  #mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }

  .nav-button li {
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    margin-right: 10px;
  }
  .nav-button li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .nav-button li:nth-last-child(1) {
    background: #e26e4e;
    border-radius: 80px;
  }
  .nav-button li a:nth-last-child(1) {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  #navigation.active {
    right: 0px;
  }
  .cancel {
    color: indianred;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 10px;
  }
  .hitter {
    height: 65vh;
  }
  .in {
    color: white;
    background-color: indianred;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 10px;
  }
  .tap {
    background-image: url("../images/login2.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 60vh;
    margin: auto;
    padding: 0px 0px;
    width: 90%;
  }
  .user-details > div {
    width: 400px;
  }
  .input-box {
    width: 300px;
  }

  .user-details {
    border-radius: 20px;
    width: 600px;
    margin: auto;
    display: flex;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    height: 50vh;
  }
  .reg-form {
    display: flex;
    flex-wrap: wrap;
  }
  .reg-form .input-box {
    margin: 20px 0px 12px 0px;
    padding: 0px 20px;
  }
  .reg-form input {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 35px;
    font-size: 16px;
    color: #777171;
    font-weight: 600;
  }
  .reg-form select {
    height: 50px;
    background-color: white;
    color: #777171;
    width: 100%;
    outline: none;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;
  }
  .reg-form input:focus,
  .reg-form input:valid {
    border: 1px solid goldenrod;
  }
  .reg-form select:focus,
  .reg-form select:valid {
    border: 1px solid goldenrod;
  }
  .bg-holder {
    background-color: rgb(24, 60, 60);
    background-image: url("../images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
  }
  .tapper {
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tap-hold {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding: 5px 0px;
  }
  .tapper a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: transparent;
  }
  .tapper a:hover {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: black;
  }

  .tap-hold h3 {
    font-weight: 600;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
  }
  .submit {
    border-radius: 25px;
    padding: 15px 95px;
    background-color: goldenrod;
    color: white;
    border: 3px solid white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media (max-width: 450px) {
  .tapper {
    padding: 10px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .tap-hold {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px 0px;
  }
  .tapper a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: transparent;
  }
  .tap-hold h3 {
    font-weight: 600;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
  }
  .cancel {
    color: indianred;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 20px;
  }
  .in {
    color: white;
    background-color: indianred;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 20px;
  }
  .formholder h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;

    color: black;
    text-align: center;
  }
  .hitter {
    height: 55vh;
  }
  .logo {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: white;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #login {
    display: grid;
    list-style: none;
    padding: 8px 38px;
    border-radius: 80px;
    background-color: indianred;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }

  #signup {
    display: grid;
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  #navigation li {
    list-style: none;
    padding: 20px 35px;
    letter-spacing: 1px;
  }
  #navigation li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
  }
  #navigation li a:hover {
    color: indianred;
  }
  .nav-button {
    display: none;

    align-items: center;
  }
  .nav-button {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-button li {
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    margin-right: 10px;
  }
  .nav-button li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  #navigation.active {
    right: 0px;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: #222;
  }
  #mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }

  .nav-button li:nth-last-child(1) {
    background: #e26e4e;
    border-radius: 80px;
  }
  .nav-button li a:nth-last-child(1) {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .user-details {
    max-width: 350px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .user-details > div {
    width: 310px;
    margin-right: 40px;
  }
  .input-box {
    width: 300px;
  }
  .cana {
    margin-bottom: -200px;
  }
  .reg-form .input-box {
    flex: 50%;
    padding: 10px 0px;
    width: 350px;
    margin-bottom: 10px;
  }
  .reg-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .reg-form .input-box {
    padding: 0px 20px;
    margin: 10px 2px;
  }
  .reg-form input {
    height: 60px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 35px;
    font-size: 16px;
    color: #777171;
    font-weight: 600;
  }
  .reg-form select {
    height: 60px;
    background-color: white;
    color: #777171;
    width: 100%;
    outline: none;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;
  }
  .reg-form input:focus,
  .reg-form input:valid {
    border: 1px solid goldenrod;
  }
  .reg-form select:focus,
  .reg-form select:valid {
    border: 1px solid goldenrod;
  }
  .bg-holder {
    background-color: rgb(24, 60, 60);
    background-image: url("../images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
  }
  .tap {
    background-image: url("../images/login2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 360px;
    margin-left: 10px;
    padding: 40px 15px;
  }
  .submit {
    border-radius: 15px;
    padding: 15px 120px;
    background-color: goldenrod;
    color: white;
    border: 3px solid white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
