/* Custom style for 
PUNCH | ELECTION MONITOR
*/
body{
    font-family: Open Sans,sans-serif;
}
a{
    text-decoration: none;
}
.meta-link{
    text-decoration: none;
}
.meta-title{
    font-size: 18px !important;
    font-weight: bold;
    color: #000;
}
.meta-excerpt{
    color: #000 !important;
    font-size: 11px;
}
.meta-date, .meta-time{
    font-size: 10px;
    color: RGB(189, 189, 189);
}
.img-full-width{
    width: 100% !important;
}
.img-full-width img{
    width: 100%;
}
.height-200{
    height: 200px;
}
.height-100{
    height: 100px;
}
.height-400{
    height: 400px !important;
}
.equal-width-height-100{
    height: 100px;
    width: 100px;
}
.light-red{
    background: rgba(255, 0, 0, 0.08);
}
.right-comment{
    padding: 5px;
    color: #f00;
    border-radius: 13px;
    font-size: 10px;
 }
.news-section-two .news-widget-1 article h2.post-title {
    font-family: Alegreya;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.15em;
    color: #000;
}

.red{
    background-color: red;
    color: #fff;
}
.center-all *{
    margin-left:auto;
    margin-right: auto;
}
.right-notification{
    background-color: red;
    color: #fff;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.img-carousel{
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}
.img-carousel img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.other-video{
    width: 100%;

    border-radius: 10px;
}
.curved-img{
    width: 100%;
    border-radius: 10px;
}   

.square-red-before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    background: red;
    z-index: 2;
    margin-right: 15px;
}
.red-border-before{
    border-left: 15px solid red;
}
.social-icons{
    width: 25px;
    height: 25px;

}

.navbar-dark .navbar-nav .nav-link {
    color:  #fff;
}


/* Experiences */
ul.experiences {
    padding-left: 15px;
    margin-top: -1px;
}
ul.experiences li {
    padding-left: 33px;
    /*margin-bottom: 2.5em;*/
    list-style: none;
    /*background: url('../img/misc/list-bullet-darkgray.png') no-repeat;*/
}
/*ul.experiences li.green {
    background: url('../img/misc/list-bullet-green.png') no-repeat;
}*/
/*ul.experiences li.blue {
    background: url('../img/misc/list-bullet-blue.png') no-repeat;
}*/
/*ul.experiences li.pink {
    background: url('../img/misc/list-bullet-pink.png') no-repeat;
}*/
/*.where {
    font-size: 1.2857em;
    font-weight: 300;
    display: inline;
    margin-right: 0.5em;
}
.what {
    font-size: 0.75em; 
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #444444;
    display: inline-block;
    padding: 0 12px;
    margin: -5px 0.5em 0 0 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.what.green {
    background-color: #c4df9b;
}
.what.blue {
    background-color: #6dcff6;
}
.what.pink {
    background-color: #f06eaa;
}
.when {
    float: right;
    color: #b9b9b9;
    font-style: italic;
}
.description {
    display: block;
    margin-top: 0.5em;
}


/* BORDERS AND BULLETS */
/*
p {
    margin-bottom: 0;
}*/

ul.experiences li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;
}

ul.experiences li:after {
    /* bullets */
    content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
    position: absolute;
    left: -26px; /*adjust manually*/
    top: 0px;
}

ul.experiences li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
}

ul.experiences li:first-child:before {
   /* first li's line */
   top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
    /* last li's line */
   height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
.my-carousel{
    background-color: rgb(222, 222, 222);
}
.banner-carousel{
    width: 100% !important;
    height: 400px !important;
}
.presidential-carousel img{
    width: 100% !important;
    height: 100% !important;
    border-radius: 6px;
}